* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 2em;
}

/* === Header === */
header {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#logo {
  max-width: 100%;
  height: 70px;
}

header ul a {
  color: #ebebeb;
  text-decoration: none;
  transition: color 0.2s;
}
#linksLogo ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
#linksLogo a:hover {
  color: rgba(245, 0, 0, 0.701);
}

/* === Hero === */
#hero {
  height: 380px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-image: url(./assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 55%;
}
#hero h1 {
  color: #ffffff;
  margin-bottom: 6px;
  font-size: 28px;
}

.dots button {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ebebeb;
  border-color: #ebebeb;
  border-radius: 50%;

  margin-bottom: 8px;
  cursor: pointer;
}
.dots button:hover {
  background-color: rgba(245, 0, 0, 0.701);
  border-color: rgba(245, 0, 0, 0.701);
}

.dots button + button {
  margin-left: 8px;
}
/* === Galeria === */
#gallery {
  margin: 64px auto 0;
  justify-items: center;
  
}

.galleryRow {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 3em;
}
.galleryRow div {
  flex: 1 1 250px;
}

.galleryRow img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  height: 200px; /* define uma altura igual para todas */
  object-fit: cover; /* corta a imagem para caber sem distorcer */
}
#gallery h2 {
  margin-bottom: 32px;
  padding-left: 8px;
  color: #111111;
  border-left: solid 4px red;
}

.gallery p {
  font-weight: bold;
}

/* === História === */

#history {
  background-color: #111111;
  color: white;
  margin-top: 3em;
  padding-top: 2.5em;
  justify-content: center;
  width: 100%;
  border-top: solid 2px red;
  justify-items: center;
}
#history h2{
  padding-left: 8px;
  border-left: solid 4px red;


}

#history h2,
#history p {
  font-weight: 400;
}

.historybox {
  display: flex;
  border-bottom: solid 4px #f13239;
  flex-wrap: wrap;
  gap: 3%;
}
.historybox p {
  line-height: 1.5;
}

.historybox div {
  max-width: 40%;
  margin: 1em 0;
  display: flex;
}

.historybox a {
  text-decoration: none;
  color: #f1323882;
  transition: color 0.3s;
}
.historybox a:hover {
  color: white;
}

.historybox img {
  width: 100%;
  max-width: 50%;
  height: auto;
  display: block;
}

.historybox div,
.historybox img {
  flex: 1 1 350px;
}

/* === Elenco === */

#persons {
  max-width: 100%;
  background-color: #111111;
  padding: 4em 2em 0;
  color: white;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#persons h2 {
  margin: 2em 0;
  padding-left: 8px;
  border-left: solid 4px red;
  
}

.elenco {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  border-bottom: solid 4px #f13239;
  justify-content: center;
}

.elenco div {
  max-width: 300px;
  min-width: 20%;
  margin-bottom: 2em;
}

.elenco img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  height: 180px; /* define uma altura igual para todas */
  object-fit: cover; /* corta a imagem para caber sem distorcer */
}

#persons h3 {
  margin-left: 0.8em;
}
#persons h4 {
  color: #ffffff66;
  margin-left: 1.3em;
}

/* === Footer === */

footer {
  text-align: center;
  padding: 42px;
  background-color: #111111;
  color: white;
  margin: 0;
}

footer a{
  color:#f13239;
}

footer a:hover{
  color: white;
}

/* === Responsivo === */

@media (max-width: 1090px) {
  .elenco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .historybox img {
    max-width: 100%;
  }

  .historybox div {
    max-width: 100%;
  }

  .historybox {
    flex-direction: column;
    align-items: center;
  }
}
